## Copyright (C) 2012 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: debug-misc
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), config-package-dev
Homepage: https://github.com/Whonix/debug-misc
Vcs-Browser: https://github.com/Whonix/debug-misc
Vcs-Git: https://github.com/Whonix/debug-misc.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: debug-misc
Architecture: all
Depends: ${misc:Depends}
Suggests: systemd-coredump, serial-console-enable
Replaces: grub-output-verbose
Description: Enables miscellaneous debug settings
 Ships a `/etc/default/grub.d/45_debug-misc.cfg` configuration file,
 that removes `quiet`, `loglevel=0` and `debugfs=off` from the
 `GRUB_CMDLINE_LINUX_DEFAULT` variable and adds `debug=vc` to the kernel
 boot parameter to enable verbose output during the initial ramdisk boot
 phase.
 .
 Undo debugging related `sysctl` settings by package `security-misc`.
 .
 Enables persistent systemd journal log.
 .
 Disables `/lib/systemd/coredump.conf.d/disable-coredumps.conf` by package
 `security-misc` by creating a symlink from
 `/etc/systemd/coredump.conf.d/disable-coredumps.conf` to `/dev/null`.
 `debian/debug-misc.links`
 .
 Disables `panic-on-oops`, `remove-system.map` by package `security-misc`.
 .
 `config-package-dev` `hide` `/etc/sysctl.d/30_silent-kernel-printk.conf` which
 kernel.printk to default as if security-misc would not have lowered verbosity.
 .
 Configure systemd `getty` service to not clear `tty`.
 `/lib/systemd/system/getty@tty.service.d/30_debug-misc.conf`
 .
 Coredumps are enabled.
 `/etc/security/limits.d/40_debug-misc.conf`
 .
 Coredumps may contain important information such as encryption keys or
 passwords. Package `security-misc` disables coredumps. Package `debug-misc`
 re-enables coredumps.
 .
 Contains a helper tool to cause a segfault for testing purposes.
 `segfault-build` creates `segfault-run`. Running `segfault-run` results in
 `segfault-run` terminating with a segfault. This is useful to test if
 coredump files are being generated when an application crashes.
 `/usr/sbin/segfault-build`
 `/usr/share/debug-misc/segfault.c`
 .
 For better usability, to ease debugging in case of issues.
 .
 For better security, this package should only be installed on specific
 machines that require debugging. Unfortunately, security and debugging are
 conflicting optimization goals.
