## Copyright (C) 2012 - 2019 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: debug-misc
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile
Homepage: https://github.com/Whonix/debug-misc
Vcs-Browser: https://github.com/Whonix/debug-misc
Vcs-Git: https://github.com/Whonix/debug-misc.git
Standards-Version: 4.3.0

Package: debug-misc
Architecture: all
Depends: ${misc:Depends}
Suggests: systemd-coredump, serial-console-enable
Replaces: grub-output-verbose
Description: Enables miscellaneous debug settings
 Ships a /etc/default/grub.d/30_output_verbose.cfg configuration file, that
 removes `quiet` from the `GRUB_CMDLINE_LINUX_DEFAULT` variable and adds
 `debug=vc` to the kernel boot parameter to enable verbose output during the
 initial ramdisk boot phase.
 .
 Undo debugging related sysctl settings by package security-misc.
 .
 Enable persistent systemd journal log.
 .
 For better usability, to ease debugging in case of issues.
